

#chat-window {
  position: relative;
  height:100vh;
  padding: 1em;
}

#chat-input {
  bottom: 0;
  position: absolute;
  width: 90%;
  text-align: center;
}

#chat-input input {
  width: 70%;
}

#chat-input button {
  width: 20%;
}

#messages-window {
  height: 85%;
  overflow: scroll;
}

#chat-users {
  padding: .5em;
}

#user-alert {
  border: 1px dotted purple;
  height: 20%;
}

#users-list {
  height: 79%;
  overflow: scroll;
}
