

<div *ngIf="currentUser">
  <div class="container border main">
    <div class="row">

      <div class="col-8 border border-danger rounded" id="chat-window" >
        <div id="messages-window" class="bg-light rounded">
          <div class="display-message border border-success rounded bg-white m-1 p-0" *ngFor="let message of messages">
            {{ message.sender }}: {{ message.text }}
          </div>
        </div>
        <form id="chat-input" class="bg-secondary">
          <input [(ngModel)]="message.text" name="text" autocomplete="off" placeholder="Type your message..." class="mr-1"/><button class="btn btn-primary" id="chatbutton" (click)="sendMessage()">Send</button>
        </form>
      </div>

      <div class="col border border-warning" id="chat-users">
        <div id="user-alert">
          <div id="newUserId" *ngIf="newUser">
            {{ newUserName }} joined the chat!
          </div>
          <div id="exitedUserId" *ngIf="exitedUser">
            {{ exitedUserName }} left the chat
          </div>
        </div>

        <div id="users-list" class="border border-dark rounded p-1">
          <div class="bg-success text-center">
            <h4 class="text-white">Online users</h4>
          </div>
          <ul class="display-list list-group" *ngFor="let onlineUser of onlineUsers">
            <li class="list-group-item">{{ onlineUser }}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>



<div *ngIf="!currentUser">
  <p>You need to <a routerLink="/login">log in</a> to use the chat</p>
</div>
