
  <nav class="navbar navbar-dark bg-dark">
    <div class="justify-content-start">
      <a routerLink="/home"
        routerLinkActive="active">Home</a>
      <a routerLink="/destinations"
        routerLinkActive="active">Destinations</a>
    </div>
    <div class="justify-content-end">
      <a routerLink="/login"
          routerLinkActive="active">Log in</a>
      <a routerLink="/register"
          routerLinkActive="active">Register</a>
    </div>
  </nav>

  <div>
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
