

<destination-form></destination-form>

<div class="container">
  <div *ngIf='destinations && destinations.length'>
    <div class="row">
      <a *ngFor='let destination of destinations'
          class="card col-4 text-white"
          (click)="onSelect(destination)"
          [routerLink]="['/destination', destination.id]">
          <img class="card-img" src="{{ destination.imageUrl }}">
          <div class="card-img-overlay">
            <span>{{ destination.name }}</span>
            <span>{{ destination.country }}</span>
          </div>
      </a>
    </div>
</div>
