

<destination-form
  [destinations]='destinations'>
</destination-form>

<div class="container">

    <div class="row justify-content-center">
      <a *ngFor='let destination of destinations'
          class="card col-3 text-white text-center p-1 m-1"
          (click)="onSelect(destination)"
          [routerLink]="['/destination', destination.id]">
          <img class="card-img img-fluid max-width: 100%" src="{{ destination.imageUrl }}">
          <div class="card-img-overlay">
            <p class="text-capitalize">{{ destination.name }}</p>
            <p class="text-capitalize">{{ destination.country }}</p>
          </div>
      </a>

</div>
