nav a {
  padding: .1em .5em;
  text-decoration: none;
  margin: 0 1em;
  display: inline-block;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #eeab0c;
}
nav a.active {
  color: #eeab0c;
}
